<div class="book_list_section" [class.blur]="isLoading">
  <ng-container *ngIf="!isLoading && booksList.length > 0; else emptyList">
    <div *ngFor="let item of booksList">
      <app-book-card [book]="item"></app-book-card>
    </div>
  </ng-container>
  <ng-container *ngIf="isLoading">
    <div class="book_list">
      <app-loader></app-loader>
    </div>
  </ng-container>
  <ng-template #emptyList>
    <div *ngIf="!isLoading && booksList.length <= 0">
      <app-empty-list text="Empty List!"></app-empty-list>
    </div>
  </ng-template>
</div>
