.main_display{ 
  font-size: 1.5em;
}
.logo {
  display: flex;
  justify-content: center;
  & img{
    min-width: 3em;
    min-height: 3em;
  }
  
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 6em;
  height: 100%;
  background-color: rgb(64, 165, 64);
  padding: .6em 1.4em;
  transition: all .2s ease; 
  li {
    display: flex;
    align-items: center;
    & span{
      margin-left: .2em;
    }
      height: 3em;
    & div {
      display: inherit;
      justify-items: center;
    }
  }
  & span{
    opacity: 0;
    pointer-events: none;
  }
}
.nav_menu {
  margin: 0 auto;
  & ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  & li {
    margin-top: 5px;
  }
}
.section{
  position: relative;
  transition: all .2s ease; 
  width: calc(100% - 6em);
  left: 6em;
  display: flex;
  flex-direction: column;
}

.left_arrow{
  position: absolute;
  transform: rotate(180deg);
  top: 90%;
  left: 35%;
  transition: all .2s ease; 
}

.sidebar.active {
  width:10em;
  transition: all .2s ease; 
  & ~ .section{
    width: calc(100% - 10em);
    left: 10em;
    transition: all .2s ease; 
  }
  & span{
    opacity: 1;
    transition: all .2s ease; 
  }
}
.left_arrow.active{
  transform: rotate(360deg);
  position: absolute;
  left: 40%
}

.header{
  width: 100%;
  position: sticky;
  top: 0;
  min-height: 3em;
  background: green;
}

.content{
  min-height: 300px;
  height: 100vh;
  border: 1px solid red; 
}
.footer{
  position: sticky;
  bottom: 0;
  min-height: 30px;
  width: 100%;
  background: white;
}